@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html,body,h1,h2,h3,h4,h5,h6{
	background: url() repeat scroll 0 0 rgba(0,0,0,0);
	font-family: "Josefin Sans", sans-serif;
	max-width: 2500px;
}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

/*Skills*/
#skills{
	padding: 20px;
	background: Light Gray;
}



/*Social Bar*/
.social{
	position: fixed;
	right: 0;
	top:38%;
	z-index: 4;
}

.social ul{
	list-style: none;
}

.social ul li a{

	display: inline-block;
	color: #fff;
	background: #000;
	float: right;
	padding: 20px 25px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li .icon-facebook{
	background: #3b5998;
}


.social ul li .icon-twitter{
	background: #00abf0;
}

.social ul li .icon-google{
	background: #d95232;
}

.social ul li .icon-mail{
	background: #666666;
}	


.social ul li a:hover{
	padding: 20px 40px;
}



.navegador{
	width: 10%;
	float: left;
}

.seccion{
	width: 40%;
	float: left;
}

.aside{
	border: 1px solid red;
	width: 15%;
	float: left;
}

.tipo{
	font-family: 'Metamorphous', cursive;

}

.nombre{
	font-family: 'Indie Flower', cursive;
	
}
.lugar{
	font-family: 'Gloria Hallelujah', cursive;

}

.bandas{
	font-family: 'Dancing Script', cursive;
}

#contacto{
	font-family: 'Shadows Into Light', cursive;
}


.font{
	font-family: 'Bree Serif', serif;
	text-align: ju
}


.w3-container{
	padding: 58px;
}

/*Efecto Paralax*/

#wrapper{
	box-shadow: 0 0 12px rbga(0, 0, 0, 0.80);
	margin: 0;
	max-width: 1440px;
	width: 100% !important;
}

section{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 780px;
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}

#bloque1{
	background-image: url(../img/plaza.png);
}

#bloque2{
	background-image: url(../img/mapa.jpg);
}

#bloque3{
	background-image: url(../img/c.jpg);
}

#bloque4{
	background-image: url(../img/cajamarcaperu128.jpg);
}

.h1{
	background-color: #02223a;
	bottom: 0;
	color: rgba(255, 255, 255, 0.9);
	display: block;
	font-size: 3em;
	font-weight: bold;
	margin-top: 2em;
	opacity: 0.76;
	text-align: center;
	text-shadow: 1px 1px 1px #666;
	text-transform: uppercase;
	width: 100%;
}

.h2{
	background-color: rgba(255,255,255,0.8);
	color: red;
	font-size: 2em;
	font-weight: bold;
	margin-top: 5em;
	opacity: 0.85;
	text-align: center;
	text-shadow: 1px 1px 1px #666;
	text-transform: uppercase;
	width: 100%;
}

#logo{
	display: block;
	margin: 6em auto 0;
	opacity: 0.8;
	width: 200px;
}

section p{
	background-color: rgba(255,255,255,0.7);
	margin: 60px;
	padding: 20px;
	text-align: justify;
	text-shadow: 1px 1px 1px black;
	font-size: 2em;
	box-sizing: border-box;
}

@media screen and (max-width: 1500px) {
	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 40px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.9em;
		box-sizing: border-box;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 3em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}
}

@media screen and (max-width: 1400px) {
	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 40px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.7em;
		box-sizing: border-box;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 3em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}
}


@media screen and (max-width: 1200px) {
	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 40px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.8em;
		box-sizing: border-box;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 3em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}
}




@media screen and (max-width: 900px) {
	.social ul li a{

		display: inline-block;
		color: #fff;
		background: #000;
		float: right;
		padding: 10px 11px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.social ul li a:hover{
		padding:10px 17px;
	}
	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 34px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.8em;
		box-sizing: border-box;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 3em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}
}


@media screen and (max-width: 800px) {
	.social ul li a{

		display: inline-block;
		color: #fff;
		background: #000;
		float: right;
		padding: 9px 11px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.social ul li a:hover{
		padding: 10px 17px;
	}
	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 34.7px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.6em;
		box-sizing: border-box;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 2em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}
}


@media screen and (max-width: 700px) {
	

	.social ul li a{

		display: inline-block;
		color: #fff;
		background: #000;
		float: right;
		padding: 7px 9px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.social ul li a:hover{
		padding: 7px 11px;
	}


	.h1{
		background-color: #02223a;
		bottom: 0;
		color: rgba(255, 255, 255, 0.9);
		display: block;
		font-size: 2.3em;
		font-weight: bold;
		margin-top: 2em;
		opacity: 0.76;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 2em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 35px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.38em;
		box-sizing: border-box;
	}
}


@media screen and (max-width: 500px) {
	

	.social ul li a{

		display: inline-block;
		color: #fff;
		background: #000;
		float: right;
		padding: 7px 9px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.social ul li a:hover{
		padding: 7px 15px;
	}


	.h1{
		background-color: #02223a;
		bottom: 0;
		color: rgba(255, 255, 255, 0.9);
		display: block;
		font-size: 1.8em;
		font-weight: bold;
		margin-top: 2em;
		opacity: 0.76;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

		.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 2em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

	#logo{
		display: block;
		margin: 6em auto 0;
		opacity: 0.8;
		width: 100px;
	}

	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 35px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 1.2em;
		box-sizing: border-box;
	}
}


@media screen and (max-width: 400px) {
	

	.social ul li a{

		display: inline-block;
		color: #fff;
		background: #000;
		float: right;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}

	.social ul li a:hover{
		padding: 10px 20px;
	}


	.h1{
		background-color: #02223a;
		bottom: 0;
		color: rgba(255, 255, 255, 0.9);
		display: block;
		font-size: 1.8em;
		font-weight: bold;
		margin-top: 2em;
		opacity: 0.76;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

	.h2{
		background-color: rgba(255,255,255,0.8);
		color: red;
		font-size: 2em;
		font-weight: bold;
		margin-top: 5em;
		opacity: 0.85;
		text-align: center;
		text-shadow: 1px 1px 1px #666;
		text-transform: uppercase;
		width: 100%;
	}

	#logo{
		display: block;
		margin: 6em auto 0;
		opacity: 0.8;
		width: 100px;
	}

	section p{
		background-color: rgba(255,255,255,0.7);
		margin: 35px;
		padding: 20px;
		text-align: justify;
		text-shadow: 1px 1px 1px black;
		font-size: 0.9555em;
		box-sizing: border-box;
	}
}